<nav class="navbar navbar-inverse">
	<div class="main-title">toobadooo
		<span class="slog">Most poopular videos today</span>
	</div>
</nav>


<h2 class="vid-title"><%= @title %></h2>
<br>

<div id="vid-div">
	<iframe title="YouTube video player" class="youtube-player" type="text/html" 
	width="640" height="390" src="<%= @vid %>"
	frameborder="0" allowFullScreen>
	</iframe>
</div>

<br>

<button class="btn btn-danger center-block" onClick="window.location.reload()">Next Video</button> 