@import "bootstrap-sprockets";
@import "bootstrap";

.main-title {
	margin-left: 5px;
	font-size: 30px;
	color: white;
}

.vid-title {
	text-align: center;
}

.youtube-player {
	display: block;
	margin: 0 auto;
}
.inline {
	display: inline-block;
}

.slog {
	font-size: 15px;
	color: #d9534f;
}

.navbar-inverse {
	border-radius: 0px;
}